# This excludes files from being included in the extension's package
.vscode/**
typings/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
test/**
testOutput/**
.github/**
test-results.xml
.azure-pipelines/**
node_modules/**
src/**
out/**
gulp*
*.json
webpack*
*.js
docs/**
utils/*.js
*.bat
*.yml
*.xml
